USE [GestorDeTareasDB]
GO
/****** Object:  Table [dbo].[EstadosTarea]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosTarea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](160) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaVencimiento] [date] NULL,
	[UsuarioAsignadoId] [int] NULL,
	[EstadoId] [int] NOT NULL,
	[CreadoEn] [datetime2](7) NOT NULL,
	[ActualizadoEn] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](120) NOT NULL,
	[Correo] [nvarchar](160) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EstadosTarea] ON 

INSERT [dbo].[EstadosTarea] ([Id], [Nombre]) VALUES (3, N'Completada')
INSERT [dbo].[EstadosTarea] ([Id], [Nombre]) VALUES (2, N'En progreso')
INSERT [dbo].[EstadosTarea] ([Id], [Nombre]) VALUES (1, N'Pendiente')
SET IDENTITY_INSERT [dbo].[EstadosTarea] OFF
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([Id], [Titulo], [Descripcion], [FechaVencimiento], [UsuarioAsignadoId], [EstadoId], [CreadoEn], [ActualizadoEn]) VALUES (1, N'Definir alcance y requisitos (MVP)', N'Reunir historias de usuario y criterios de aceptación del módulo principal.', CAST(N'2025-11-03' AS Date), 3, 3, CAST(N'2025-10-27T06:14:28.3060710' AS DateTime2), CAST(N'2025-10-27T06:15:44.9280236' AS DateTime2))
INSERT [dbo].[Tareas] ([Id], [Titulo], [Descripcion], [FechaVencimiento], [UsuarioAsignadoId], [EstadoId], [CreadoEn], [ActualizadoEn]) VALUES (2, N'Configurar repositorio Git y políticas', N'Crear repo, ramas main/dev, políticas de PR y plantillas.', CAST(N'2025-10-30' AS Date), 1, 1, CAST(N'2025-10-27T06:14:28.3070978' AS DateTime2), CAST(N'2025-10-27T06:14:28.3070978' AS DateTime2))
INSERT [dbo].[Tareas] ([Id], [Titulo], [Descripcion], [FechaVencimiento], [UsuarioAsignadoId], [EstadoId], [CreadoEn], [ActualizadoEn]) VALUES (3, N'Definir arquitectura (capas y contratos)', N'Estructura: Razor Pages, Repositorios y Acceso a datos con SPs.', CAST(N'2025-11-01' AS Date), 1, 2, CAST(N'2025-10-27T06:14:28.3080717' AS DateTime2), CAST(N'2025-10-27T06:14:28.3080717' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombres], [Correo]) VALUES (1, N'Ana Dev', N'ana.dev@example.com')
INSERT [dbo].[Usuarios] ([Id], [Nombres], [Correo]) VALUES (2, N'Luis QA', N'luis.qa@example.com')
INSERT [dbo].[Usuarios] ([Id], [Nombres], [Correo]) VALUES (3, N'María PM', N'maria.pm@example.com')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadosT__75E3EFCF392B1E10]    Script Date: 27/10/2025 3:21:36 ******/
ALTER TABLE [dbo].[EstadosTarea] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__60695A194ADE2BFD]    Script Date: 27/10/2025 3:21:36 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tareas] ADD  DEFAULT (sysutcdatetime()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[Tareas] ADD  DEFAULT (sysutcdatetime()) FOR [ActualizadoEn]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[EstadosTarea] ([Id])
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD FOREIGN KEY([UsuarioAsignadoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[spEstadosTarea_Listar]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEstadosTarea_Listar]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT Id, Nombre FROM dbo.EstadosTarea ORDER BY Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spTareas_Actualizar]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTareas_Actualizar]
  @Id INT,
  @Titulo NVARCHAR(160),
  @Descripcion NVARCHAR(MAX) = NULL,
  @FechaVencimiento DATE = NULL,
  @UsuarioAsignadoId INT = NULL,
  @EstadoId INT
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Tareas
    SET Titulo = @Titulo,
        Descripcion = @Descripcion,
        FechaVencimiento = @FechaVencimiento,
        UsuarioAsignadoId = @UsuarioAsignadoId,
        EstadoId = @EstadoId,
        ActualizadoEn = SYSUTCDATETIME()
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spTareas_CambiarEstado]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTareas_CambiarEstado]
  @Id INT,
  @EstadoId INT
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Tareas
    SET EstadoId = @EstadoId,
        ActualizadoEn = SYSUTCDATETIME()
    WHERE Id = @Id;

  SELECT t.Id, t.EstadoId, e.Nombre AS EstadoNombre
    FROM dbo.Tareas t
    INNER JOIN dbo.EstadosTarea e ON e.Id = t.EstadoId
    WHERE t.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spTareas_Crear]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTareas_Crear]
  @Titulo NVARCHAR(160),
  @Descripcion NVARCHAR(MAX) = NULL,
  @FechaVencimiento DATE = NULL,
  @UsuarioAsignadoId INT = NULL,
  @EstadoId INT
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.Tareas (Titulo, Descripcion, FechaVencimiento, UsuarioAsignadoId, EstadoId)
    VALUES (@Titulo, @Descripcion, @FechaVencimiento, @UsuarioAsignadoId, @EstadoId);
  SELECT SCOPE_IDENTITY() AS NuevoId;
END
GO
/****** Object:  StoredProcedure [dbo].[spTareas_Eliminar]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTareas_Eliminar]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validación simple
        IF @Id IS NULL OR @Id <= 0
        BEGIN
            RAISERROR(N'El Id proporcionado no es válido.', 16, 1);
            RETURN;
        END

        -- (Opcional) validar existencia previa
        IF NOT EXISTS (SELECT 1 FROM dbo.Tareas WHERE Id = @Id)
        BEGIN
            RAISERROR(N'La tarea con el Id especificado no existe.', 16, 1);
            RETURN;
        END

        -- Eliminar
        DELETE FROM dbo.Tareas WHERE Id = @Id;

        -- (Opcional) devolver afectación
        SELECT @@ROWCOUNT AS FilasAfectadas;
    END TRY
    BEGIN CATCH
        DECLARE @Msg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @Sev INT = ERROR_SEVERITY();
        DECLARE @State INT = ERROR_STATE();
        RAISERROR(@Msg, @Sev, @State);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spTareas_Eliminar_]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTareas_Eliminar_]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validación simple
        IF @Id IS NULL OR @Id <= 0
        BEGIN
            RAISERROR(N'El Id proporcionado no es válido.', 16, 1);
            RETURN;
        END

        -- (Opcional) validar existencia previa
        IF NOT EXISTS (SELECT 1 FROM dbo.Tareas WHERE Id = @Id)
        BEGIN
            RAISERROR(N'La tarea con el Id especificado no existe.', 16, 1);
            RETURN;
        END

        -- Eliminar
        DELETE FROM dbo.Tareas WHERE Id = @Id;

        -- (Opcional) devolver afectación
        SELECT @@ROWCOUNT AS FilasAfectadas;
    END TRY
    BEGIN CATCH
        DECLARE @Msg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @Sev INT = ERROR_SEVERITY();
        DECLARE @State INT = ERROR_STATE();
        RAISERROR(@Msg, @Sev, @State);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spTareas_Listar]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTareas_Listar]
  @EstadoId INT = NULL
AS
BEGIN
  SET NOCOUNT ON;
  SELECT t.Id, t.Titulo, t.Descripcion, t.FechaVencimiento,
         t.UsuarioAsignadoId, u.Nombres AS UsuarioAsignadoNombre,
         t.EstadoId, e.Nombre AS EstadoNombre,
         t.CreadoEn, t.ActualizadoEn
    FROM dbo.Tareas t
    LEFT JOIN dbo.Usuarios u ON u.Id = t.UsuarioAsignadoId
    INNER JOIN dbo.EstadosTarea e ON e.Id = t.EstadoId
    WHERE (@EstadoId IS NULL OR t.EstadoId = @EstadoId)
    ORDER BY t.CreadoEn DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spTareas_ObtenerPorId]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTareas_ObtenerPorId]
  @Id INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT TOP(1) Id, Titulo, Descripcion, FechaVencimiento,
         UsuarioAsignadoId, EstadoId
    FROM dbo.Tareas
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsuarios_Crear]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarios_Crear]
  @Nombres NVARCHAR(120),
  @Correo NVARCHAR(160)
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.Usuarios(Nombres, Correo)
    VALUES (@Nombres, @Correo);
  SELECT SCOPE_IDENTITY() AS NuevoId;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsuarios_Listar]    Script Date: 27/10/2025 3:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarios_Listar]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT Id, Nombres, Correo
    FROM dbo.Usuarios
    ORDER BY Nombres;
END
GO
